<div class="container">
  <h4>WELCOME TO WEATHER APP</h4>
  <p>
    Stay informed with real-time weather updates and plan ahead your day.
  </p>
  <p>
    Plan your upcomming days with our hour-by-hour weather forecast for 5 days. Check out what's
    coming up!
  </p>
</div>
<div class="icons">
  <i class="fa-solid fa-snowflake"></i>
  <i class="fa-solid fa-cloud"></i>
  <i class="fa-solid fa-bolt"></i>
  <i class="fa-solid fa-sun"></i>
  <i class="fa-solid fa-cloud-sun-rain"></i>
  <i class="fa-solid fa-cloud-sun"></i>
  <i class="fa-solid fa-cloud-showers-heavy"></i>
  <i class="fa-solid fa-cloud-bolt"></i>
  <i class="fa-solid fa-bolt-lightning"></i>
</div>